<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <div th:replace="shared/header :: header-css"/>
    <title>Strona domowa </title>
</head>
<body>
<div th:replace="shared/header :: header('home')"/>

<div id="main" class="container">
    <span style="font-size: 30pt">
        Strona główna
        <h1 sec:authorize="hasRole('ROLE_ADMIN')" th:text="${admin}"></h1>
        <h1 sec:authorize="hasRole('ROLE_USER')">Twoje środki: [[${#numbers.formatDecimal(means,1,2,'COMMA')}]] PLN</h1>

                <div th:if="${param.topUpSuccess}">
                    <div class="alert alert-info">
                        Dodano doładowanie
                    </div>
                </div>
                <div th:if="${param.transferSuccess}">
                    <div class="alert alert-info">
                        Pomyślnie zapisano przelew
                    </div>
                </div>
                <div th:if="${param.newMessageSuccess}">
                    <div class="alert alert-info">
                        Pomyślnie wysłano wiadomość
                    </div>
                </div>
                <div th:if="${param.templateSuccess}">
                    <div class="alert alert-info">
                        Pomyślnie dodano szablon
                    </div>
                </div>
                <div th:if="${param.transferSendSuccess}">
                    <div class="alert alert-info">
                        Pomyślnie wysłano przelew
                    </div>
                </div>
                <div th:if="${param.transferErr}">
                    <div class="alert alert-info">
                        Brak wystarczających środków na koncie!
                 </div>
                    </div>

    </span>
</div>
<div th:replace="shared/footer :: footer"></div>
</body>
</html>