<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5" >
<head>

    <div th:replace="shared/header :: header-css"/>
    <title>Nowy przelew</title>
</head>
<body>
<div th:replace="shared/header :: header('home')"/>

<div class="container">
    <div th:if="${param.numberErr}">
        <div class="alert alert-info">
            Podane numery różnią się!
        </div>
    </div>
    <div th:if="${param.networkErr}">
        <div class="alert alert-info">
            Nie wybrano sieci!
        </div>
    </div>
    <h1>Nowe Doładowanie</h1>
    <form th:method="POST" th:object="${topUp}" th:action="@{/topUpForm.html}">
        <fieldset>
            <div class="form-group">
                <div class="alert alert-danger" th:if="${#fields.hasErrors('*')}">
                    <p th:each="err : ${#fields.errors('*')}" th:text="${err}"></p>
                </div>
            </div>
            <div class="form-group">
                <label for="phoneNumber">Numer telefonu </label>
                <input id="phoneNumber" type="number" th:field="*{phoneNumber}" required="true" placeholder="Numer telefonu" class="form-control"/>
            </div>

            <div class="form-group">
                <label for="repeatPhoneNumber">Powtórz numer telefonu </label>
                <input id="repeatPhoneNumber" type="number" th:field="*{repeatPhoneNumber}" required="true" placeholder="Powtórz numer telefonu" class="form-control"/>
            </div>

            <div class="form-group">
                <label for="mobileNetwork">Wybierz sieć komórkową </label>
                <select id="mobileNetwork" th:field="*{mobileNetwork.id}" class="form-control">
                    <option value="-1">--Wybierz sieć komórkową--</option>
                    <option th:each="network : ${mobileNetworks}"
                            th:value="${network.id}"
                            th:text=" ${network.name}"
                    />
                </select>
                <div class="error text-danger" th:if="${#fields.hasErrors('mobileNetwork.id')}">
                    <p th:each="err : ${#fields.errors('mobileNetwork.id')}" th:text="${err}"></p>
                </div>
            </div>


            <div class="form-group">
                <label for="topUpAmount">Kwota </label>
                <input id="topUpAmount" type="number" th:field="*{amount}" required="true" placeholder="0" class="form-control"/>
            </div>

            <div>
                <input type="submit" class="btn btn-lg btn-primary btn-block" value="Wyślij"/>
            </div>
            <input type="hidden" th:field="*{id}"/>

            <input
                    type="hidden"
                    th:name="${_csrf.parameterName}"
                    th:value="${_csrf.token}"/>


        </fieldset>
    </form>


</div>
<div th:replace="shared/footer :: footer"></div>
</body>
</html>