<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="shared/header :: header-css"/>
    <title>Przelewy</title>
</head>
<body>
<div th:replace="shared/header :: header('home')"/>

<div id="main" class="container">
    <div th:if="${param.wrongDates}">
        <div class="alert alert-info">
            1 data nie może być większa od drugiej
        </div>
    </div>
    Podaj przedział czasowy:
    <form th:method="POST" th:object="${dates}" th:action="@{/transactionsHistory.html}">
        <fieldset>
            <div class="form-group">
                <label for="date1">Od </label>
                <input id="date1" type="date" th:field="*{date1}"  required="true">
            </div>
            <div class="form-group">
                <label for="date2">Do </label>
                <input id="date2" type="date" th:field="*{date2}" required="true">
            </div>

            <div>
                <input type="submit" class="btn btn-lg btn-primary btn-block" value="Pokarz"/>
            </div>

            <input
                    type="hidden"
                    th:name="${_csrf.parameterName}"
                    th:value="${_csrf.token}"/>


        </fieldset>
    </form>
    <div th:if="${transactionsHistoryList.size()} == 0">
        <h1>Brak Transakcji</h1>
    </div>

    <div th:if="${transactionsHistoryList.size()} != 0">
        <h1>Historia Transakcjii</h1>
        <table class="table table-striped">
            <thead class="thead-dark">
            <tr>
                <th>Typ transakcji</th>
                <th>Odbiorca</th>
                <th>Numer konta odbiorcy</th>
                <th>Kwota</th>
                <th>Data wykonania</th>

            </tr>
            </thead>
            <tbody>
            <tr th:each="history : ${transactionsHistoryList}">
                <td th:text="${history.transactionType}"></td>
                <td th:text="${history.recipient}"></td>
                <td th:text="${history.recipientsAccount}"></td>
                <td th:text="${history.amount}"></td>
                <td th:text="${#dates.format(history.realizationDate, 'dd-MM-yyyy')}"></td>

            </tr>

            </tbody>
        </table>
    </div>
</div>
<div th:replace="shared/footer :: footer"></div>
</body>
</html>