<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="shared/header :: header-css"/>
    <title>Przelewy</title>
</head>
<body>
<div th:replace="shared/header :: header('home')"/>

<div id="main" class="container">

    <div th:if="${transfersList.size()} != 0">
        <h1>Historia Transakcjii</h1>
        <table class="table table-striped">
            <thead class="thead-dark">
            <tr>
                <th>Odbiorca</th>
                <th>Numer konta odbiorcy</th>
                <th>Kwota</th>
                <th>Data wykonania</th>

            </tr>
            </thead>
            <tbody>
            <tr th:each="history : ${transactionsHistoryList}">

                <td th:text="${history.recipient}"></td>
                <td th:text="${history.recipientsAccount}"></td>
                <td th:text="${history.amount}"></td>
                <td th:text="${#dates.format(history.realizationDate, 'dd-MM-yyyy')}"></td>

            </tr>

            </tbody>
        </table>
    </div>
</div>
<div th:replace="shared/footer :: footer"></div>
</body>
</html>