<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="shared/header :: header-css"/>
    <title>Przelewy</title>
</head>
<body>
<div th:replace="shared/header :: header('home')"/>

<div id="main" class="container">
    <div th:if="${param.transferErr}">
        <div class="alert alert-info">
            Brak wystarczających środków na koncie!
        </div>
    </div>

    <div>

        <a th:href="@{/transferForm.html(repeat=true)}" class="btn btn-lg btn-primary btn-block">Nowe Zlecenie stałe</a>

    </div>
    <div th:if="${transfersRepeatList.size()} != 0">
        <h1>Lista przelewów</h1>
        <table class="table table-striped table-dark">
            <thead>
            <tr>
                <th>Odbiorca</th>
                <th>Numer konta</th>
                <th>Kwota</th>
                <th>Tytuł</th>
                <th>Data wykonania</th>
                <th>Status</th>
                <th></th>
                <th></th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="transfer : ${transfersRepeatList}">


                <td th:text="${transfer.recipientsNameAndAdress}"></td>
                <td th:text="${transfer.recipientsAccount}"></td>
                <td th:text="${transfer.amount}"></td>
                <td th:text="${transfer.title}"></td>
                <td th:text="${#dates.format(transfer.executionDate, 'dd-MM-yyyy')}"></td>
                <td th:text="${transfer.status}"></td>
                <td><a class="btn btn-success" th:href="@{transfers.html(eid=${transfer.id})}">Edytuj</a></td>
                <td><a class="btn btn-danger" th:href="@{transfers.html(did=${transfer.id})}">Usuń</a></td>

                <td th:if="${transfer.status.equals('Aktywny')}"><a class="btn btn-danger" th:href="@{transfers.html(cid=${transfer.id})}">Anuluj</a></td>
                <td th:if="${transfer.status.equals('Anulowany')}"><a class="btn btn-success" th:href="@{transfers.html(rid=${transfer.id})}">Wznów</a></td>





            </tr>

            </tbody>
        </table>
    </div>
</div>
<div th:replace="shared/footer :: footer"></div>
</body>
</html>